.group_box{
    margin-top: 60px;
    padding: 0!important;
}
.group_name{
    padding: 14px 0 0 0px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    color: #000000;
    font-size: 18px;
    float: left;
}
.group_button{
    float: right;
}
.multipleLanguage{
    margin-left: 5px;
    color: #000000;
    display: none;
}
.multipleLanguageActive{
    display: inline-block;
}